.button-header {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 30px;
}

.button-header button {
    padding: 10px 15px;
    border: none;
    background-color: var(--primary);
    color: #fff;
    border-radius: 2px;
    font-size: 0.7em;
}

.button-header .sort-wrapper {
    position: relative;
}

.button-header .sort-wrapper .selections {
    position: absolute;
    top: 34px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: #fff;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 5px;
    width: max-content;
    z-index: 1;
}

.button-header .sort-wrapper .selections h1 {
    position: relative;
    font-size: 0.6rem;
    font-weight: 300;
    margin-left: 16px;
    padding: 5px 10px;
    text-align: start;
    color: var(--gray);
    font-weight: 500;
}

.button-header .sort-wrapper .selections h1 i {
    position: absolute;
    left: -10px;
    top: 6px;
    color: var(--primary);
}

.button-header .sort-wrapper .selections hr {
    width: 100%;
}

.button-header button i {
    margin-right: 8px;
}

.system-email-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--primary);
    color: #fff;
    padding: 10px;
    max-width: 400px;
}

.system-email-form .head h1 {
    font-size: 1.3rem;
}

.system-email-form p {
    font-size: 0.8rem;
}

.system-email-form .body {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.system-email-form .body input {
    border: none;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 400;
    background-color: var(--gray);
    padding: 8px 10px;
    border-radius: 3px;
}

.system-email-form .body input.edit {
    border: 2px solid var(--light-gray);
}

.system-email-form .top-bttns {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    gap: 10px;
    font-size: 1.4rem;
    cursor: pointer;
}

.system-email-form .bttns {
    display: flex;
    gap: 10px;
}

.system-email-form button {
    border: none;
    font-size: 0.9rem;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    width: max-content;
    cursor: pointer;
}

.system-email-form button[type="submit"] {
    background-color: var(--green);
}

.system-email-form button[type="button"] {
    background-color: var(--red);
}

.room-types {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.room-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    background-color: #fff;
}

.room-cont .room-type-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--light-gray);
    color: var(--primary);
    padding: 5px;
    border-radius: 4px;
}

.room-cont .room-type-header .room-type-details {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.room-cont .room-type-header .room-type-details form {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.room-cont .room-type-header .room-type-details form p {
    font-size: 0.8rem;
    color: var(--gray);
}

.room-cont .room-type-header .rename-room-type {
    display: flex;
    gap: 8px;
    align-items: center;
}

.room-cont .room-type-header .room-type-settings {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

.room-cont .room-type-header h1 {
    font-size: 0.9rem;
}

.room-cont .room-type-header h2 {
    font-size: 0.8rem;
    font-weight: 900;
}

.room-cont .room-type-header h2 span {
    font-size: 0.7rem;
    font-weight: 500;
}

.room-cont .room-type-header .room-type-details .bttns {
    display: flex;
    gap: 5px;
}

.room-cont .room-type-header .room-type-details .bttns button {
    padding: 10px;
    border: none;
    background-color: unset;
    border: 1px solid var(--light-gray);
    border-radius: 2px;
    font-size: 0.8rem;
}

.room-cont .room-type-header input {
    font-size: 0.9rem;
    padding-inline: 5px;
    font-weight: 400;
}

.room-cont .room-type-header i {
    font-size: 1.5rem;
}

.room-cont .room-type-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 100px;
    padding: 5px;
}

.room-cont .room-type-content .room {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    color: var(--primary);
    overflow: hidden;
}

.room-cont .room-type-content .room h1 {
    text-align: center;
    font-size: 1rem;
}

.room-cont .room-type-content .room h5 {
    font-size: 0.5rem;
    height: 50px;
    overflow-y: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-weight: 400;
}

.room-cont .room-type-content .room span {
    position: absolute;
    font-size: 0.5rem;
    background-color: var(--red);
    padding: 2px;
    right: 0;
    top: 0;
    color: #fff;
    font-weight: 300;
    border-bottom-left-radius: 4px;
}

.room-cont .room-type-content .room img {
    align-self: center;
    width: 100px;
    aspect-ratio: 4/3;
    object-fit: cover;
    border: 1px solid var(--light-gray);
}

.room-cont .room-type-content .room-settings {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid var(--light-gray);
    border-radius: 5px;
    padding: 5px 10px;
    z-index: 1;
}

.room-cont .room-type-content .room-settings button {
    display: flex;
    gap: 8px;
    border: none;
    width: 60px;
    padding-block: 4px;
    font-size: 0.6rem;
    background-color: #fff;
    font-weight: 500;
    color: var(--gray);
}

.room-cont .room-type-content .no-room {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.room-cont .room-type-content .no-room button {
    padding: 10px;
    border: 1px solid var(--light-gray);
    background-color: #fff;
    border-radius: 2px;
    border-radius: 8px;
    color: var(--gray);
    font-weight: 500;
}

.room-cont .room-type-delete {
    background-color: #fff;
    padding: 5px;
}

.room-cont .room-type-delete h1 {
    text-align: center;
    font-size: 1.2rem;
    color: var(--primary);
}

.room-cont .room-type-delete h2 {
    display: flex;
    gap: 3px;
    font-size: 0.8rem;
    color: var(--dark-orange);
    margin-block: 10px;
    background-color: var(--light-orange);
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    border-left: 3px solid var(--dark-orange);
}

.room-cont .room-type-delete .bttns {
    display: flex;
    gap: 10px;
}

.room-cont .room-type-delete .bttns button {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border: none;
    width: 80px;
    padding-block: 10px;
    color: #fff;
    border-radius: 8px;
    font-size: 0.7rem;
    font-weight: 700;
}

.room-cont .room-type-delete .bttns button:first-child {
    background-color: var(--red);
}

.room-cont .room-type-delete .bttns button:last-child {
    background-color: #fff;
    border: 1px solid var(--light-gray);
    color: var(--primary);
}

.room-cont .room-type-image {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    padding: 10px;
}

.room-cont .room-type-image h1 {
    font-size: 1.2rem;
    color: var(--primary);
}

.room-cont .room-type-image img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.room-cont .room-type-image .fa-xmark {
    position: absolute;
    right: 5px;
    top: 5px;
}

.room-cont .room-type-image textarea,
.room-cont .room-type-image p {
    font-size: 0.8rem;
    padding: 5px;
    border-radius: 5px;
}

.room-cont .room-type-image .bttns {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.room-cont .room-type-image .bttns button {
    padding: 10px;
    border: none;
    background-color: unset;
    border: 1px solid var(--light-gray);
    border-radius: 2px;
    font-size: 0.8rem;
}

.room-add {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    background-color: #fff;
    padding: 20px 15px;
}

.room-add form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.room-add .room-add-input {
    display: flex;
    flex-direction: column;
}

.room-add .room-add-input:last-of-type {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.room-add .room-add-input img {
    width: 80%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.room-add .room-add-input label {
    font-size: 0.8rem;
    color: var(--gray);
}

.room-add .room-add-input input[type="number"],
.room-add .room-add-input input[type="text"],
.room-add textarea {
    padding: 5px;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.room-add .room-add-input input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.room-add .bttns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.room-add button {
    width: 60px;
    align-self: flex-end;
    padding-block: 10px;
    background-color: var(--green);
    border: none;
    color: #fff;
    border-radius: 2px;
}

.room-add .bttns button:first-child {
    background-color: var(--red);
}

.room-add .fa-xmark {
    position: absolute;
    right: 5px;
    top: 5px;
}

.infos {
    display: flex;
    flex-direction: column;
}

.infos h1 {
    font-size: 1rem;
    color: var(--primary);
}

.infos h1 b {
    font-weight: 900;
    font-size: 1.8rem;
}

.change-down-payment {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    background-color: var(--primary);
    padding: 25px 5px 5px 5px;
}

.change-down-payment input {
    padding: 5px;
    border: none;
    font-size: 0.8rem;
    flex: 1;
}

.change-down-payment .fa-xmark {
    position: absolute;
    right: 5px;
    top: 5px;
}

.change-down-payment h1 {
    position: absolute;
    top: 5px;
    font-size: 0.7rem;
    color: #fff;
}

.change-down-payment button {
    padding: 5px 10px;
    border: none;
    background-color: var(--green);
    color: #fff;
    border-radius: 2px;
    font-size: 0.6rem;
}

.add-room-type {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    background-color: var(--primary);
    padding: 25px 5px 5px 5px;
}

.add-room-type textarea,
.add-room-type input {
    padding: 8px;
    border: none;
    font-size: 0.8rem;
}

.add-room-type .fa-xmark {
    position: absolute;
    right: 5px;
    top: 5px;
}

.add-room-type h1 {
    position: absolute;
    top: 5px;
    font-size: 0.8rem;
    color: #fff;
}

.add-room-type img {
    width: 150px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.add-room-type button {
    align-self: flex-start;
    padding: 10px 20px;
    border: none;
    background-color: var(--green);
    color: #fff;
    border-radius: 2px;
    font-size: 0.6rem;
}

.card-and-table-togg-cont {
    display: flex;
    border: 1px solid var(--light-gray);
    width: fit-content;
    background-color: #fff;
    overflow: hidden;
    margin-block: 10px;
    border-radius: 10px;
}

.card-and-table-togg-cont button {
    padding: 8px 15px;
    border: none;
    background-color: #fff;
    font-size: 0.6em;
    font-weight: 700;
    border-radius: 10px;
}

.room-table-cont {
    overflow-x: auto;
    padding: 10px 5px;
    width: 100%;
}

.room-table-cont img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.room-table-cont table {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    border-collapse: collapse;
    border-bottom: 2px solid var(--primary);
}

.room-table-cont table th,
.room-table-cont table td {
    font-size: 0.6rem;
    padding: 5px;
    text-align: center;
    min-width: 60px;
    max-width: 60px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.room-table-cont table th:last-of-type,
.room-table-cont table td:last-of-type {
    min-width: 200px;
    max-width: 200px;
}

.room-table-cont table td {
    position: relative;
    border: 1px solid var(--light-gray);
}

.room-table-cont table td span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--red);
    color: #fff;
    padding: 2px;
    font-size: 0.5rem;
}

.room-table-cont table thead {
    background-color: var(--primary);
    color: #fff;
}

.room-table-cont table td:last-of-type {
    text-align: left;
}

.change-check-in-out {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--primary);
    padding: 10px;
    color: #fff;
    width: max-content;
}

.change-check-in-out .check-in-out {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.change-check-in-out input {
    padding: 5px;
    border: none;
    font-size: 0.8rem;
    color: var(--primary);
}

.change-check-in-out .bttns {
    display: flex;
    gap: 10px;
}

.change-check-in-out button {
    padding: 10px 15px;
    border: none;
    background-color: var(--green);
    color: #fff;
    border-radius: 2px;
    font-size: 0.6rem;
    cursor: pointer;
}

.change-check-in-out button:last-of-type {
    background-color: var(--red);
}

.change-check-in-out .fa-xmark {
    position: absolute;
    right: 5px;
    top: 5px;
}

/* amenity */

.amenity-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.amenity-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    color: var(--primary);
    max-width: min-content;
    overflow: hidden;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.amenity-card h1 {
    text-align: center;
    font-size: 1rem;
    margin-top: 6px;
}

.amenity-card img {
    width: 100px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.amenity-card h5 {
    font-size: 0.5rem;
    height: 40px;
    overflow-y: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-weight: 400;
}

.amenity-card span {
    position: absolute;
    font-size: 0.5rem;
    background-color: var(--red);
    padding: 2px;
    right: 0;
    top: 0;
    color: #fff;
    font-weight: 300;
    border-bottom-left-radius: 4px;
}

.amenity-table-cont {
    overflow-x: auto;
    padding: 5px;
}

.amenity-table-cont img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.amenity-table-cont table {
    border-collapse: collapse;
    border-bottom: 2px solid var(--primary);
}

.amenity-table-cont th,
.amenity-table-cont td {
    font-size: 0.6rem;
    padding: 5px;
    text-align: center;
    min-width: 60px;
    max-width: 60px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.amenity-table-cont tbody tr {
    background-color: #fff;
}

.amenity-table-cont td {
    position: relative;
    border: 1px solid var(--light-gray);
}

.amenity-table-cont table td span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--red);
    color: #fff;
    padding: 2px;
    font-size: 0.5rem;
}

.amenity-table-cont table thead {
    background-color: var(--primary);
    color: #fff;
}

.amenity-table-cont th:last-of-type,
.amenity-table-cont td:last-of-type {
    min-width: 200px;
    max-width: 200px;
}

.amenity-table-cont table td:last-of-type {
    text-align: left;
}


/* gallery */

.gallery-add-cont {
    display: flex;
    gap: 8px;
    padding: 10px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    color: var(--primary);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.gallery-add {
    display: flex;
    gap: 5px;
    width: fit-content;
}

.gallery-add textarea {
    padding: 5px;
    border: 1px solid var(--light-gray);
    font-size: 0.8rem;
    width: 100px;
}

.gallery-add img {
    width: 100px;
    aspect-ratio: 4/3;
    object-fit: cover;
    max-height: 100px;
    border: 1px solid var(--light-gray);
}

.gallery-add-cont h1 {
    font-size: 1rem;
}

.gallery-add-cont h2 {
    color: var(--gray);
    font-size: 0.8rem;
    font-weight: 500;
}

.gallery-add-cont .bttns {
    display: flex;
    gap: 10px;
    align-self: flex-start;
}

.gallery-add-cont .bttns button {
    padding-block: 8px;
    border: none;
    background-color: var(--green);
    color: #fff;
    border-radius: 8px;
    width: 70px;
    font-size: 0.6rem;
    font-weight: 700;
}

.gallery-add-cont button:last-of-type {
    background-color: #fff;
    color: var(--primary);
    border: 1px solid var(--light-gray);
}

.gallery-add-cont .hide-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.gallery-add-cont .hide-wrapper input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.gallery-add-cont input {
    width: fit-content;
    font-size: 0.6rem;
}

.gallery-cont {
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.gallery-cont .gallery-header {
    border-radius: 4px 4px 0 0;
    padding: 5px;
    border-bottom: 2px solid var(--light-gray);
}

.gallery-cont .gallery-header h1 {
    text-align: center;
    font-size: 1rem;
    color: var(--primary);
    font-weight: 500;
}

.gallery-cont .pics {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}

.gallery-cont .photo {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--light-gray);
    width: min-content;
}

.gallery-cont .photo img {
    width: 110px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.gallery-cont .photo p {
    height: 80px;
    font-size: 0.65rem;
    white-space: pre-wrap;
    overflow-y: auto;
    margin: 5px;
}

.gallery-cont .photo h2 {
    position: absolute;
    background-color: var(--red);
    color: #fff;
    padding: 2px 6px;
    font-size: 0.5rem;
    top: 0;
    right: 0;
    font-weight: 300;
    border-bottom-left-radius: 2px;
}

.gallery-cont .pics h3 {
    color: var(--gray);
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    padding-block: 20px;
}

.room-gallery {
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.room-gallery .gallery-header {
    padding: 5px;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid var(--light-gray);
}

.room-gallery .gallery-header h1 {
    text-align: center;
    font-size: 1rem;
    color: var(--primary);
    font-weight: 500;
}

.room-gallery .pics {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 8px;
}

.room-gallery .pics .room-typess {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--light-gray);
    padding: 5px;
}

.room-gallery .pics .room-typess h1 {
    color: var(--gray);
}


.room-gallery .pics .room-typess .room-pics {
    position: relative;
    display: flex;
    gap: 3px;
    overflow-x: auto;
    padding: 0 15px 5px 0;
}


.room-gallery .pics .room-typess .room-pics i,
.room-gallery .pics .room-typess .room-pics img {
    object-fit: cover;
    font-weight: 400;
    min-width: 150px;
    max-width: 150px;
    aspect-ratio: 4/3;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
}

.room-gallery .pics .room-typess .room-pics img:first-of-type {
    margin-right: 15px;
}

.room-gallery .pics h1 {
    font-size: 0.8rem;
    color: var(--primary);
    font-weight: 500;
}

.room-gallery p {
    position: absolute;
    top: 3px;
    left: 3px;
    color: var(--primary);
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 0.7rem;
    padding: 1px 2px;
}

.add-room-sub-img {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
}

.add-room-sub-img h1 {
    color: var(--primary);
    font-size: 1rem;
}

.add-room-sub-img img {
    width: 200px;
    height: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.add-room-sub-img .bttns {
    position: relative;
    display: flex;
    gap: 10px;
}

.add-room-sub-img .bttns button {
    padding: 10px;
    border: none;
    background-color: var(--green);
    color: #fff;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 500;
}

.add-room-sub-img .bttns button:nth-child(2) {
    background-color: #fff;
    color: var(--gray);
    border: 1px solid var(--light-gray);
}

.add-room-sub-img .bttns .delete {
    position: absolute;
    right: 0;
    background-color: var(--red);
    color: #fff;
    border: 1px solid var(--light-gray);
}

.add-room-sub-img .fa-xmark {
    position: absolute;
    right: 5px;
    top: 5px;
}

.add-room-sub-img h2 {
    color: var(--primary);
    font-size: 2rem;
}

.add-room-sub-img .img-cont {
    display: flex;
    flex-direction: column;
    background-color: var(--light-orange);
    gap: 15px;
    padding: 15px 5px;
    border-radius: 5px;
    margin-block: 15px;
    font-weight: 500;
    border-left: 3px solid var(--dark-orange);
}

.add-room-sub-img .img-cont h3 {
    color: var(--dark-orange);
    font-size: 0.8rem;
    font-weight: 400;
}

.add-room-sub-img .img-cont img {
    width: 100px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.add-room-sub-img .delete-bttns {
    display: flex;
    gap: 10px;
}

.add-room-sub-img .delete-bttns button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border: none;
    background-color: var(--red);
    color: #fff;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 500;
}

.add-room-sub-img .delete-bttns button:last-of-type {
    background-color: #fff;
    color: var(--primary);
    border: 1px solid var(--light-gray);
}

/* about us */
.about-us {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us-phone-num-cont {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.about-us-header {
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--light-gray);
    color: var(--primary);
    padding: 8px 10px 8px 8px;
}

.about-us-header h1 {
    font-size: 0.8rem;
    font-weight: 700;
}

.about-us-header .bttns {
    display: flex;
    gap: 7px;
}

.about-us-phone-num-cont .phone-num-cont {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px 5px;
    color: var(--primary);
}

.phone-num-cont select,
.phone-num-cont h2,
.phone-num-cont input[type="text"] {
    font-size: 0.7rem;
    width: 70px;
    text-align: center;
    padding: 8px 0;
    font-weight: 500;
}

.phone-num-cont h3,
.phone-num-cont input[type="number"] {
    font-size: 0.8rem;
    width: 100px;
    font-weight: 300;
    padding: 8px 5px;
}

.phone-num-cont h4,
.phone-num-cont input[type="email"] {
    font-size: 0.75rem;
    font-weight: 400;
    width: 190px;
    overflow-wrap: break-word;
    padding: 8px 5px;
}

.phone-num-cont .link,
.phone-num-cont input[type="link"] {
    font-size: 0.6rem;
    padding: 8px 5px;
    width: 110px;
    font-weight: 400;
}

.phone-num-cont input {
    border: none;
    border: 1px solid var(--primary);
    margin-block: 5px;
    border-radius: 3px;
}

.phone-num-cont .fa-rotate-left {
    position: absolute;
    right: 30px;
    background-color: var(--red);
    padding: 3px;
    border-radius: 2px;
    color: #fff;
    font-size: 0.65rem;
}

.phone-num-cont .fa-trash-can {
    position: absolute;
    right: 10px;
    color: var(--red);
}

.phone-num-cont .fa-floppy-disk {
    color: var(--green);
    font-size: 1.1rem;
}

.phone-num-cont .fa-square-xmark {
    position: absolute;
    right: 10px;
    color: var(--red);
    font-size: 1.1rem;
}

.phone-num-cont button {
    position: absolute;
    right: 30px;
    border: none;
    background-color: #fff;
}

.about-us-phone-num-cont .confirmation-cont {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    width: 270px;
    padding: 20px;
    border-radius: 10px;
}

.confirmation-cont h1 {
    font-size: 1.3rem;
    color: var(--primary);
}

.confirmation-cont h2 {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--gray);
}

.confirmation-cont .phone-num {
    display: flex;
    align-items: center;
    background-color: var(--light-orange);
    gap: 15px;
    padding: 15px 5px;
    border-radius: 5px;
    color: var(--dark-orange);
    margin-block: 15px;
    font-weight: 500;
    border-left: 3px solid var(--dark-orange);
}

.confirmation-cont .phone-num span:last-of-type {
    word-break: break-all;
    font-size: 0.8rem;
}

.confirmation-cont .bttns {
    display: flex;
    gap: 10px;
}

.confirmation-cont .bttns button {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: var(--red);
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
}

.confirmation-cont .bttns button:last-of-type {
    background-color: #fff;
    color: var(--primary);
    border: 1px solid var(--light-gray);
}

.map-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    color: var(--primary);
}

.map-container .bttns {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 7px;
}

.map-container .bttns-down {
    display: flex;
    gap: 10px;
}

.map-container button {
    padding: 10px;
    border: none;
    background-color: var(--green);
    color: #fff;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}

.map-container button:last-of-type {
    background-color: #fff;
    color: var(--primary);
    border: 1px solid var(--light-gray);
}

.map-container .map-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.map-container .address {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.map-container h1 {
    font-size: 0.9rem;
}

.map-container label {
    font-size: 0.8rem;
}

.map-container input {
    padding: 8px;
    border: 1px solid var(--gray);
    border-radius: 3px;
    font-size: 0.8rem;
    width: 100%;
    box-sizing: border-box;
}

.map-container input.edit {
    font-weight: 700;
}

.map-container .leaflet-container {
    height: 200px;
    width: 100%;
    border: 1px solid var(--gray);
    border-radius: 3px;
    z-index: 0;
}


/* PC */
@media (min-width: 1025px) {
    .button-header button {
        cursor: pointer;
        padding: 15px 20px;
    }

    .button-header .sort-wrapper .selections {
        top: 45px;
    }

    .button-header button:hover {
        background-color: var(--primary-dark);
    }

    .room-cont .room-type-header {
        padding: 10px;
    }

    .room-cont .room-type-header h1 {
        font-size: 1.6rem;
    }

    .room-cont .room-type-header h2 {
        font-size: 1.4rem;
    }

    .room-cont .room-type-header h2 span {
        font-size: 1rem;
    }

    .room-cont .room-type-header .room-type-details .bttns button {
        cursor: pointer;
    }

    .room-cont .room-type-header input {
        font-size: 1.6rem;
    }

    .room-cont .room-type-header i {
        font-size: 1.8rem;
        cursor: pointer;
    }

    .room-cont .room-type-content {
        gap: 20px;
        padding: 20px 10px;
    }

    .room-cont .room-type-content .room {
        width: 200px;
        padding: 10px;
        transition: all 0.1s;
        cursor: pointer;
    }

    .room-cont .room-type-content .room:hover {
        transform: scale(1.02);
    }

    .room-cont .room-type-content .room h1 {
        font-size: 2rem;
    }

    .room-cont .room-type-content .room h5 {
        font-size: 0.8rem;
        height: 100px;
    }

    .room-cont .room-type-content .room span {
        font-size: 0.8rem;
        padding: 4px;
        font-weight: 400;
    }

    .room-cont .room-type-content .room img {
        width: 200px;
    }

    .room-cont .room-type-content .room-settings button {
        width: 100px;
        padding-block: 6px;
        font-size: 0.8rem;
        cursor: pointer;
    }

    .room-cont .room-type-content .no-room button {
        padding: 15px;
        cursor: pointer;
    }

    .room-cont .room-type-delete {
        padding: 20px;
    }

    .room-cont .room-type-delete h1 {
        font-size: 2rem;
    }

    .room-cont .room-type-delete h2 {
        font-size: 1rem;
        margin: 20px;
    }

    .room-cont .room-type-delete .bttns button {
        width: 100px;
        padding-block: 15px;
        cursor: pointer;
    }

    .room-cont .room-type-image .bttns button {
        cursor: pointer;
    }

    .room-add form {
        width: 350px;
    }

    .room-add .room-add-input label {
        font-size: 1rem;
    }

    .room-add .room-add-input input[type="checkbox"] {
        width: 25px;
        height: 25px;
    }

    .room-add button {
        width: 80px;
        padding-block: 12px;
        cursor: pointer;
    }

    .infos h1 {
        font-size: 1.5rem;
    }

    .infos h1 b {
        font-size: 2.5rem;
    }

    .change-down-payment {
        max-width: 350px;
        padding: 50px 10px 10px 10px;
    }

    .change-down-payment input {
        padding: 10px;
        font-size: 1rem;
    }

    .change-down-payment h1 {
        top: 15px;
        font-size: 1rem;
    }

    .change-down-payment button {
        padding: 10px 20px;
        cursor: pointer;
    }

    .add-room-type {
        max-width: 350px;
        padding: 50px 10px 10px 10px;
    }

    .add-room-type h1 {
        top: 15px;
        font-size: 1rem;
    }

    .add-room-type button {
        padding: 15px 25px;
        cursor: pointer;
    }

    .room-table-cont img {
        width: 100%;
    }

    .room-table-cont table {
        border-bottom: 3px solid var(--primary);
        width: 100%;
    }

    .room-table-cont table th,
    .room-table-cont table td {
        font-size: 0.8rem;
        min-width: 130px;
    }

    .room-table-cont table th:last-of-type,
    .room-table-cont table td:last-of-type {
        width: 100%;
    }

    .room-table-cont table tbody tr:hover {
        cursor: pointer;
        background-color: #eee;
    }

    .room-table-cont table td span {
        padding: 4px;
        font-size: 0.8rem;
    }

    .button-header .sort-wrapper .selections h1 {
        cursor: pointer;
    }

    .button-header .sort-wrapper .selections h1:hover {
        background-color: var(--primary-dark);
    }

    .card-and-table-togg-cont button {
        cursor: pointer;
    }

    .amenity-card {
        width: 200px;
        padding: 10px;
        transition: all 0.1s;
        cursor: pointer;
    }

    .amenity-card:hover {
        transform: scale(1.02);
    }

    .amenity-card h1 {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .amenity-card img {
        width: 200px;
    }

    .amenity-card h2 {
        font-size: 1.5rem;
    }

    .amenity-card h5 {
        font-size: 0.8rem;
        height: 80px;
    }

    .amenity-card span {
        font-size: 0.7rem;
        padding: 4px;
        font-weight: 400;
    }

    .amenity-table-cont img {
        width: 100%;
    }

    .amenity-table-cont table tbody tr:hover {
        cursor: pointer;
        background-color: #eee;
    }

    .amenity-table-cont table {
        width: 100%;
        border-bottom: 3px solid var(--primary);
    }

    .amenity-table-cont th,
    .amenity-table-cont td {
        font-size: 0.8rem;
        min-width: 140px;
    }

    .amenity-table-cont th:last-of-type,
    .amenity-table-cont td:last-of-type {
        width: 100%;
    }

    .amenity-table-cont table td span {
        padding: 4px;
        font-size: 0.8rem;
    }

    .gallery-add-cont {
        padding: 15px;
    }

    .gallery-add {
        gap: 10px;
    }

    .gallery-add textarea {
        width: 300px;
    }

    .gallery-add img {
        width: 200px;
    }

    .gallery-add-cont .bttns button {
        cursor: pointer;
        padding-block: 10px;
    }

    .gallery-add-cont .hide-wrapper input[type="checkbox"] {
        cursor: pointer;
    }

    .gallery-cont {
        gap: 20px;
    }

    .gallery-cont .gallery-header {
        padding: 10px;
    }


    .gallery-cont .gallery-header h1 {
        font-size: 1.3rem;
    }

    .gallery-cont .pics {
        gap: 15px;
        padding: 15px;
    }

    .gallery-cont .photo {
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid var(--light-gray);
        width: min-content;
    }

    .gallery-cont .photo:hover {
        transform: scale(1.02);
        transition: all 0.1s;
        cursor: pointer;
    }

    .gallery-cont .photo img {
        width: 280px;
    }

    .gallery-cont .photo p {
        height: 120px;
        font-size: 0.8rem;
    }

    .gallery-cont .photo h2 {
        padding: 3px 8px;
        font-size: 0.7rem;
        border-bottom-left-radius: 4px;
    }

    .gallery-cont .pics h3 {
        padding-block: 40px;
    }

    .room-gallery .gallery-header {
        padding: 10px;
    }

    .room-gallery .gallery-header h1 {
        font-size: 1.3rem;
    }

    .room-gallery .pics {
        padding: 15px;
    }

    .room-gallery .pics .room-typess {
        padding: 15px;
    }

    .room-gallery .pics .room-typess h1 {
        font-size: 1rem;
    }

    .room-gallery .pics .room-typess .room-pics {
        gap: 20px;
        padding: 5px 15px 5px 0;
    }


    .room-gallery .pics .room-typess .room-pics i,
    .room-gallery .pics .room-typess .room-pics img {
        min-width: 280px;
        max-width: 280px;
        aspect-ratio: 4/3;
    }

    .room-gallery .pics .room-typess .room-pics i:hover,
    .room-gallery .pics .room-typess .room-pics img:hover {
        transform: scale(1.02);
        transition: all 0.1s;
        cursor: pointer;
    }

    .room-gallery p {
        top: 8px;
        font-size: 0.9rem;
        padding: 1px 4px;
        z-index: 1;
    }

    .add-room-sub-img {
        gap: 15px;
        padding: 25px;
    }

    .add-room-sub-img h1 {
        font-size: 1.2rem;
    }

    .add-room-sub-img img {
        width: 280px;
    }

    .add-room-sub-img .bttns button {
        padding: 10px 20px;
    }

    .add-room-sub-img .bttns button:hover {
        cursor: pointer;
    }

    .add-room-sub-img .img-cont {
        padding: 15px 25px;
    }

    .add-room-sub-img .img-cont h3 {
        font-size: 1rem;
    }

    .add-room-sub-img .img-cont img {
        width: 200px;
    }

    .add-room-sub-img .delete-bttns button {
        padding: 10px 20px;
    }

    .add-room-sub-img .delete-bttns button:hover {
        cursor: pointer;
    }

    .about-us {
        gap: 30px;
    }

    .about-us-header {
        padding: 18px;
    }

    .about-us-header h1 {
        font-size: 1rem;
        font-weight: 500;
    }

    .map-container i,
    .about-us-header .bttns i {
        font-size: 1.2rem;
        cursor: pointer;
    }

    .phone-num-cont .fa-square-xmark,
    .phone-num-cont .fa-floppy-disk,
    .phone-num-cont .fa-trash-can,
    .phone-num-cont .fa-rotate-left,
    .about-us-header .bttns i:hover {
        cursor: pointer;
    }

    .about-us-phone-num-cont .phone-num-cont {
        gap: 50px;
    }

    .phone-num-cont select,
    .phone-num-cont h2,
    .phone-num-cont input[type="text"] {
        font-size: 0.8rem;
        width: 120px;
    }

    .phone-num-cont select:hover {
        cursor: pointer;
    }

    .phone-num-cont h3,
    .phone-num-cont input[type="number"] {
        font-size: 0.9rem;
        width: 120px;
        font-weight: 400;
    }

    .phone-num-cont h4,
    .phone-num-cont input[type="email"] {
        font-size: 0.9rem;
        font-weight: 400;
        width: 300px;
    }

    .phone-num-cont .link,
    .phone-num-cont input[type="link"] {
        font-size: 0.8rem;
        width: 400px;
        font-weight: 300;
    }

    .phone-num-cont .fa-rotate-left {
        right: 45px;
        padding: 4px;
        font-size: 0.8rem;
    }

    .phone-num-cont .fa-trash-can {
        font-size: 1.2;
        right: 20px;
    }

    .phone-num-cont button {
        right: 50px;
    }

    .phone-num-cont .fa-floppy-disk {
        font-size: 1.2rem;
    }

    .phone-num-cont .fa-square-xmark {
        right: 20px;
        font-size: 1.2rem;
    }

    .about-us-phone-num-cont .confirmation-cont {
        gap: 15px;
        width: 300px;
    }

    .confirmation-cont .bttns button {
        padding: 10px 20px;
    }

    .confirmation-cont .bttns button:hover {
        cursor: pointer;
    }

    .map-container {
        flex-direction: row;
        gap: 20px;
        padding: 20px;
    }

    .map-container .bttns {
        right: 18px;
    }

    .map-container .map-inputs {
        gap: 20px;
        width: 600px;
    }

    .map-container h1 {
        font-size: 1rem;
    }

    .map-container label {
        font-size: 0.9rem;
    }

    .map-container input {
        font-size: 0.9rem;
    }

    .map-container .map {
        width: 100%;
        margin-top: 10px;
    }

    .map-container .coords {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .map-container .leaflet-container {
        height: 400px;
    }
}