.booking {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

/* DATE PICKER */
/* CONFIRM */
.booking .confirm-book .react-datepicker {
    width: 90svw;
}

.booking .confirm-book .react-datepicker__month-container {
    width: 100%;
}

.booking .confirm-book .react-datepicker__month-container:nth-child(even) {
    background-color: var(--light-gray);
}

.booking .confirm-book .react-datepicker__day-names {
    display: flex;
    justify-content: space-around;
    margin-inline: 0.4rem;
}

.booking .confirm-book .react-datepicker__week {
    display: flex;
    justify-content: space-around;
}

/* MONTH */
.booking .book-header .month-date-picker {
    background-color: var(--primary);
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.booking .book-header .react-datepicker-popper {
    z-index: 2;
}

/* DATE PICKER END */

.booking .navs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary);
}

.booking .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    color: #fff;
    font-size: 0.7rem;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
    transition: all 300ms;
}

.booking .nav.active {
    background-color: var(--green);
}

.booking .nav p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 1px;
    font-size: 0.6rem;
}

.booking .book {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-x: auto;
}

.booking table {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    border-collapse: collapse;
    border-bottom: 2px solid var(--primary);
    background-color: #fff;
}

.booking table td,
.booking table th {
    position: relative;
    font-size: 0.6rem;
    padding: 20px 5px;
    text-align: center;
    white-space: nowrap;
    min-width: 40px;
}

.booking table td {
    position: relative;
    border: 1px solid var(--light-gray);
}

.booking table thead {
    position: sticky;
    top: 0;
    background-color: var(--primary);
    color: #fff;
    z-index: 1;
}

.booking table .bttns {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.booking button {
    border: none;
    height: 30px;
    min-width: 50px;
    padding: 5px;
    font-size: 0.5rem;
    border-radius: 5px;
    text-wrap: nowrap;
}

.booking button.green {
    background-color: var(--green);
    color: #fff;
}

.booking button.red {
    background-color: var(--red);
    color: #fff;
}

.booking button.blue {
    background-color: var(--blue);
    color: #fff;
}

.booking button.gray {
    background-color: var(--gray);
    color: #fff;
}

/* CONFIRM BOOK */
.booking .confirm-book {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    width: 330px;
    padding: 20px;
    color: var(--primary);
    box-sizing: border-box;
}

.booking .confirm-book h1 {
    font-size: 1.5rem;
    color: var(--primary);
}

.booking .confirm-book .available-rooms {
    position: relative;
}

.booking .confirm-book .available-rooms p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary);
    width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.booking .confirm-book .available-rooms h2 {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: var(--primary);
    font-weight: 400;
}

.booking .confirm-book .available-rooms .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
    min-width: 200px;
    background-color: #fff;
    top: 32px;
    z-index: 1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.booking .confirm-book .info h2 {
    font-size: 1rem;
}

.booking .confirm-book .info h3 {
    font-size: 0.9rem;
    color: var(--gray);
    font-weight: 400;
}

.booking .confirm-book .info h4 {
    font-size: 1.5rem;
    color: var(--secondary);
    font-weight: 400;
}

.booking .confirm-book .date-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.booking .confirm-book .date-wrapper h2 {
    font-size: 1rem;
    text-align: center;
}

.booking .confirm-book .date-wrapper input {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid var(--gray);
    background-color: var(--light-gray);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.booking .confirm-book .selected-rooms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 200px;
    overflow: auto;
    padding-block: 10px;
}

.booking .confirm-book .room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
    background-color: var(--light-gray);
    border-radius: 5px;
    overflow: hidden;
}

.booking .confirm-book .room:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}

.booking .confirm-book .room:last-of-type .fa-plus {
    color: #fff;
}

.booking .confirm-book .room select {
    font-size: 0.8rem;
    padding: 3px;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.booking .confirm-book .room .select-room {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.booking .confirm-book .room .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-inline: 10px;
}

.booking .confirm-book .room .add-person {
    display: flex;
    align-items: center;
    gap: 5px;
}

.booking .confirm-book .room .fa-user-minus,
.booking .confirm-book .room .fa-user-plus {
    background-color: var(--primary);
    color: #fff;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.booking .confirm-book .fa-xmark {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.7rem;
}

.booking .confirm-book .room .right {
    display: flex;
    height: 65px;
    width: 50px;
}

.booking .confirm-book .room .fa-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    flex-grow: 1;
    color: #fff;
}

.booking .confirm-book .total input,
.booking .confirm-book .total h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.booking .confirm-book .total input {
    width: 100px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    text-align: end;
    padding-inline: 5px;
}

.booking .confirm-book .total {
    display: flex;
    justify-content: space-between;
}

.booking .cancel-book .bttns,
.booking .confirm-book .bttns {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.booking .book td p {
    position: absolute;
    top: -1px;
    left: 0;
    background-color: var(--green);
    color: #fff;
    padding: 2px 5px;
}

/* CANCEL BOOK */
.booking .cancel-book {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    width: 300px;
    color: var(--primary);
}

.booking .cancel-book h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.booking .cancel-book h2 {
    font-size: 1rem;
    font-weight: 400;
}

.booking .cancel-book .cancel-book-info .room {
    border: 1px solid var(--dark-orange);
    border-radius: 5px;
    padding: 3px 5px;
    width: min-content;
}

.booking .cancel-book .no-show-book-info .room {
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 3px 5px;
    width: min-content;
}

.booking .cancel-book .cancel-book-info {
    background-color: var(--light-orange);
    border-left: 5px solid var(--dark-orange);
    padding: 10px;
    border-radius: 10px;
}

.booking .cancel-book .no-show-book-info {
    background-color: var(--light-gray);
    border-left: 5px solid var(--gray);
    padding: 10px;
    border-radius: 10px;
}

.booking .opened-note {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    width: 330px;
}

.booking .opened-note h1 {
    font-size: 1.5rem;
    color: var(--primary);
}

.booking .opened-note p {
    font-size: 1rem;
    color: var(--gray);
}

.booking .opened-note .fa-xmark {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.5rem;
}

.booking .book-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.booking .book-header h1 {
    background-color: var(--secondary);
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
}

.booking .book-header input.search {
    padding: 5px;
    font-size: 0.8rem;
    border: 2px solid var(--primary);
    width: 200px;
}

.booking .set-confirm-book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    width: 90svw;
    min-height: 50svh;
    color: var(--primary);
    box-sizing: border-box;
}

.booking .set-confirm-book p {
    color: var(--red);
}

.booking .set-confirm-book h1 {
    font-size: 1.5rem;
}

.booking .set-confirm-book h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 400px;
}

.booking .set-confirm-book input {
    padding: 5px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    width: 100px;
    text-align: right;
}

.booking .set-confirm-book .book-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.booking .set-confirm-book .book-info .room {
    background-color: var(--light-gray);
    width: max-content;
    padding-inline: 5px;
}

.booking .set-confirm-book .bttns {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}



@media (min-width: 1025px) {
    .booking .nav {
        font-size: 1rem;
        padding: 20px;
        cursor: pointer;
    }

    .booking .nav p {
        width: 20px;
        height: 20px;
        font-size: 0.9rem;
    }

    .booking table {
        border-bottom: 3px solid var(--primary);
        width: 100%;
    }

    .booking table tbody tr:hover {
        background-color: #eee;
    }

    .booking table th,
    .booking table td {
        font-size: 0.9rem;
    }

    .booking table td .fa-envelope {
        cursor: pointer;
        font-size: 1.5rem;
    }

    .booking button {
        height: 40px;
        font-size: 0.8rem;
        min-width: 60px;
        padding: 8px;
        cursor: pointer;
    }

    .booking .confirm-book {
        gap: 10px;
        width: 600px;
        padding: 30px;
    }

    .booking .confirm-book .info h2 {
        font-size: 1.5rem;
    }

    .booking .confirm-book .info h3 {
        font-size: 1.2rem;
    }

    .booking .confirm-book .info h4 {
        font-size: 2rem;
    }

    .booking .confirm-book .dates {
        gap: 20px;
    }

    .booking .confirm-book .date-wrapper h2 {
        font-size: 1.2rem;
    }

    .booking .confirm-book .date-wrapper input {
        padding: 10px 5px;
        cursor: pointer;
    }

    .booking .confirm-book .selected-rooms {
        gap: 15px;
    }

    .booking .confirm-book .room {
        min-height: 70px;
        border-radius: 8px;
    }

    .booking .confirm-book .room:last-of-type {
        cursor: pointer;
    }

    .booking .confirm-book .room select {
        font-size: 1rem;
        cursor: pointer;
        max-width: 180px;
        padding-block: 10px;
    }

    .booking .confirm-book .room .select-room {
        display: flex;
        flex-direction: row;
    }

    .booking .confirm-book .room .add-person {
        gap: 10px;
    }

    .booking .confirm-book .room .fa-user-minus,
    .booking .confirm-book .room .fa-user-plus {
        padding: 10px;
        font-size: 0.9rem;
        cursor: pointer;
    }

    .booking .confirm-book .fa-xmark {
        cursor: pointer;
    }

    .booking .confirm-book .room .right {
        height: 70px;
        cursor: pointer;
    }

    .booking .confirm-book .total input,
    .booking .confirm-book .total h2 {
        font-size: 1.5rem;
    }

    .booking .confirm-book .total input {
        width: 150px;
    }

    /* DATE PICKER */
    .booking .confirm-book .react-datepicker {
        width: 60svw;
    }

    .booking .confirm-book .react-datepicker__month {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 200px;
    }

    .booking .confirm-book .react-datepicker__month-container {
        width: 50%;
    }

    .booking .confirm-book .react-datepicker__day {
        font-size: 1.5rem;
        width: 3rem;
        line-height: 3rem;
    }

    .booking .book-header .month-date-picker {
        padding: 12px;
    }

    /* DATE PICKER END */

    .booking .opened-note {
        padding: 20px;
        width: 500px;
    }

    .booking .opened-note p {
        font-size: 1.2rem;
        white-space: pre-wrap;
    }

    .booking .opened-note .fa-xmark {
        font-size: 2rem;
        cursor: pointer;
    }

    .booking .book-header h1 {
        font-size: 1.1rem;
        padding: 10px;
    }

    .booking .book-header input.search {
        padding: 10px;
        font-size: 1rem;
        border: 3px solid var(--primary);
        width: 300px;
    }

    .booking .set-confirm-book {
        padding: 30px;
        width: 70svw;
        min-height: 70svh;
    }

    .booking .set-confirm-book h2 {
        font-size: 1.3rem;
    }

    .booking .set-confirm-book input {
        font-size: 1.3rem;
    }
}