/* Activity Logs */
.logs-table-cont {
    overflow-x: auto;
}

.logs-table-cont table {
    border-collapse: collapse;
    border-bottom: 2px solid var(--primary);
    width: 100%;
    min-width: 500px;
}

.logs-table-cont th,
.logs-table-cont td {
    font-size: 0.6rem;
    text-align: center;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.logs-table-cont th {
    padding-block: 5px;
}

.logs-table-cont th:first-of-type,
.logs-table-cont td:last-of-type {
    width: 120px;
}

.logs-table-cont td {
    border: 1px solid var(--light-gray);
    padding-block: 10px;
}

.logs-table-cont tbody tr {
    background-color: #fff;
}

.logs-table-cont table thead {
    background-color: var(--primary);
    color: #fff;
}

.utilities-header {
    display: flex;
    flex-direction: column;
    color: var(--primary);
}

.utilities-header .admins,
.utilities-header .actions {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 15px 5px 5px 5px;
    margin-top: 20px;
    border: 4px solid var(--primary);
    border-radius: 8px;
}

.utilities-header h1 {
    position: absolute;
    top: -16px;
    left: 20px;
    padding-inline: 5px;
    background-color: var(--light-gray);
    font-size: 1.2rem;
}

.utilities-header h2 {
    font-size: 0.6rem;
    padding: 7px 15px;
    background-color: var(--secondary);
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-weight: 300;
}

.page-bttns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-block: 5px;
}

.page-bttns h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.page-bttns button {
    min-width: 25px;
    height: 25px;
    border: none;
    border-radius: 2px;
    background-color: var(--primary);
    color: #fff;
    font-size: 0.5rem;
    font-weight: 300;
    padding: unset;
}

.page-bttns button.active {
    background-color: var(--gold);
    color: var(--primary);
}

/* Admins */
.admin-main {
    overflow-x: auto;
}

.admin-main:last-of-type {
    margin-bottom: 50px;
}

.admin-main h1 {
    color: var(--primary);
    margin-block: 20px 5px;
    font-size: 2rem;
}

.admin-main table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 2px solid var(--primary);
}

.admin-main th,
.admin-main td {
    font-size: 0.8rem;
    text-align: center;
    min-width: 80px;
    max-width: 300px;
    padding-inline: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-main th {
    padding-block: 10px;
}

.admin-main td {
    border: 1px solid var(--light-gray);
    padding-block: 15px;
}

.admin-main tbody tr {
    background-color: #fff;
}

.admin-main table thead {
    background-color: var(--primary);
    color: #fff;
}

.admin-main table img {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.admin-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 10px;
}

.admin-form h2 {
    color: var(--primary);
}

.admin-form h1 {
    color: var(--primary);
    font-size: 1rem;
}

.admin-form .input-group-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 70vh;
}

.admin-form .input-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.admin-form .input-group .roles-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-form .input-group label {
    font-size: 0.9rem;
    font-weight: 400;
}

.admin-form .input-group img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--light-gray);
    padding: 4px;
}

.admin-form .input-group select,
.admin-form .input-group input {
    padding: 5px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    font-size: 1rem;
    width: 300px;
    box-sizing: border-box;
}

.admin-form .fa-xmark {
    position: absolute;
    top: 5px;
    right: 5px;
}

.admin-form .input-group .roles {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--light-gray);
}

.admin-form .input-group .roles .roles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    padding: 8px 10px;
}

.admin-form .input-group .roles .roles-header h1 {
    font-size: 0.8rem;
    color: var(--primary);
}

.admin-form .input-group .roles input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.admin-form .input-group .roles .role {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5px 10px;
}

.admin-form .input-group .roles .role label {
    font-size: 0.8rem;
}

.admin-form .bttns {
    position: relative;
    display: flex;
    gap: 10px;
}

.admin-form .bttns button:nth-child(3) {
    position: absolute;
    right: 0;
}

.confirm-delete-admin {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    width: 300px;
}

.confirm-delete-admin label,
.confirm-delete-admin input[type='password'] {
    border: 2px solid var(--light-gray);
    padding: 8px 10px;
    border-radius: 4px;
    color: var(--gray);
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.confirm-delete-admin h2 {
    color: var(--primary);
}

.confirm-delete-admin h3 {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--gray);
}

.confirm-delete-admin .info {
    display: flex;
    flex-direction: column;
    background-color: var(--light-orange);
    gap: 15px;
    padding: 15px 5px;
    border-radius: 5px;
    margin-block: 15px;
    font-weight: 500;
    border-left: 3px solid var(--dark-orange);
}

.confirm-delete-admin .info p {
    color: var(--dark-orange);
    font-size: 0.8rem;
    font-weight: 400;
}

.confirm-delete-admin .info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.confirm-delete-admin .bttns2 {
    display: flex;
    gap: 10px;
}

.confirm-delete-admin .bttns2 button {
    display: flex;
    gap: 5px;
    align-items: center;
}

.confirm-delete-admin .fa-xmark {
    position: absolute;
    top: 5px;
    right: 5px;
}

.invite-options {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    background-color: #fff;
    max-height: 90svh;
    overflow-y: auto;
    overflow-x: hidden;
}

.invite-options h1 {
    font-size: 1.5rem;
    color: var(--primary);
}

.invite-options h2 {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--primary);
    margin-top: 10px;
}

.invite-options h4 {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--gray);
}

.invite-options input {
    padding: 5px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    font-size: 1rem;
    width: 300px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
}

.invite-options .bttns {
    position: relative;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.invite-options .fa-xmark {
    position: absolute;
    top: 5px;
    right: 5px;
}

.invite-options .roles-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.invite-options .roles .roles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    padding: 8px 10px;
}

.invite-options .roles {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--light-gray);
}

.invite-options .roles .role {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5px 10px;
}

.invite-options .roles .role label {
    font-size: 0.8rem;
}

.invite-options .roles .roles-header h1 {
    font-size: 0.8rem;
    color: var(--primary);
}

.invite-options .roles input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.invite-options .link-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.invite-options .link-wrapper h3 {
    height: 100%;
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    font-size: 1rem;
    width: 225px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
}

/* DATABASE */

.database {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--primary);
    height: 100%;

    & .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .left {
            display: flex;
            flex-direction: column;

            & h1 {
                display: flex;
                align-items: center;
                gap: 5px;

                & img {
                    width: 25px;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                }
            }

            & p {
                font-size: 0.8rem;
            }
        }
    }

    & .restore-container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & .restore {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 10px;
            background-color: #fff;
            border-radius: 10px;
            width: 100%;
            box-sizing: border-box;

            & h1 {
                font-size: 1rem;
                font-weight: 600;
            }

            & p {
                font-size: 0.8rem;
                color: var(--gray);
            }

            & .input-cont {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: inset 0 0 8px var(--light-gray);
                border-radius: 5px;
                height: 120px;
                padding: 5px;
                background-color: unset;
                z-index: 0;

                & input {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }

                & i {
                    position: absolute;
                    font-size: 3rem;
                    color: var(--gray);
                    transform: translateY(10px);
                    z-index: -1;
                }
            }

            & button:disabled {
                background-color: var(--gray);
            }

            & button {
                border: none;
            }
        }
    }

    & .collection-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 50px;

        & .collection:first-of-type {
            background-color: var(--gold);
        }

        & .collection {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            padding: 15px 20px;
            border-radius: 10px;

            & h1 {
                font-size: 1rem;
            }
        }
    }
}

/* ARCHIVES */
.archive {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    color: var(--primary);

    & .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h1 {
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 3rem;
        }

        & select {
            padding: 12px 20px;
            border: none;
            background-color: var(--primary);
            color: #fff;
            border-radius: 8px;
            font-size: 1rem;
            cursor: pointer;

            & option {
                background-color: #fff;
                color: var(--primary);
            }
        }
    }

    & .table-cont {
        overflow-x: auto;
        padding-bottom: 50px;

        & table {
            border-collapse: collapse;
            border-bottom: 4px solid var(--primary);
            width: 100%;
            min-width: 500px;
            background-color: #fff;

            & thead {
                background-color: var(--primary);
            }

            & th {
                font-size: 1rem;
                text-align: center;
                color: #fff;
                padding-block: 10px;
                font-weight: 400;
            }

            & td:nth-child(3) {
                text-align: left;
            }

            & td {
                font-size: 1rem;
                text-align: center;
                padding: 10px;
                font-weight: 400;
                border: 1px solid var(--light-gray);
                max-width: 250px;

                & p {
                    color: #fff;
                    padding: 12px;
                    width: 100px;
                    margin: 0 auto;
                    border-radius: 5px;
                }
            }
        }
    }

    & .confirm-restore {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #fff;
        padding: 20px;
        width: 300px;

        & h1 {
            font-size: 2rem;
        }

        & p {
            font-size: 1rem;
            font-weight: 400;
            color: var(--gray);
        }

        & h2 {
            font-size: 1.2rem;
            font-weight: 300;
            color: #fff;
            max-width: max-content;
            padding: 5px 10px;
            overflow-wrap: break-word;
        }

        & .bttns {
            display: flex;
            gap: 10px;
            align-self: flex-end;
        }
    }
}

/* USERS */

.users {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    color: var(--primary);

    & .header {
        display: flex;
        align-items: center;
        gap: 20px;

        & input.search {
            padding: 12px 15px;
            width: 300px;
            border-radius: 8px;
            font-size: 1rem;
            border: 3px solid var(--primary);
        }

        & h1 {
            border: 3px solid var(--primary);
            background-color: var(--gray);
            color: #fff;
            padding: 8px 20px;
            font-size: 1.2rem;
            font-weight: 400;
        }

        & .page-wrapper {
            display: flex;
            align-items: center;

            & button {
                min-width: max-content;
                border: none;
            }

            & button.prev {
                border-radius: 10px 0 0 10px;
            }

            & button.next {
                border-radius: 0 10px 10px 0;
            }

            & input {
                padding: 5px;
                width: 40px;
                font-size: 1.5rem;
                font-weight: 800;
                color: var(--primary);
                text-align: center;
                background-color: #fff;
                border: none;
            }
        }
    }

    & .table-cont {
        overflow-x: auto;
        padding-bottom: 50px;

        & table {
            border-collapse: collapse;
            border-bottom: 4px solid var(--primary);
            width: 100%;
            min-width: 500px;
            background-color: #fff;

            & thead {
                background-color: var(--primary);
            }

            & th {
                font-size: 1rem;
                text-align: center;
                color: #fff;
                padding-block: 10px;
                font-weight: 400;
            }

            & td {
                font-size: 1rem;
                text-align: center;
                padding: 10px;
                font-weight: 400;
                border: 1px solid var(--light-gray);
                max-width: 250px;
            }

            & img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            & tbody tr:hover {
                cursor: pointer;
                background-color: #eee;
            }
        }
    }

    & .add-user-cont {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #fff;
        padding: 20px;
        width: 400px;

        .fa-xmark {
            position: absolute;
            top: 5px;
            right: 5px;
        }

        h1 {
            font-size: 1.5rem;
        }

        & form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & select {
                cursor: pointer;
            }

            & select,
            & input {
                padding: 8px;
                border: 1px solid var(--primary);
                border-radius: 5px;
                font-size: 1rem;
            }

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }

            & .bttns {
                display: flex;
                gap: 10px;
                align-self: flex-end;
            }
        }
    }

    & .user-details {
        position: relative;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color: #fff;
        width: 90svw;
        height: 90svh;
        padding: 20px;
        color: var(--primary);

        & .fa-xmark {
            position: absolute;
            top: 5px;
            right: 5px;
        }

        & h1 {
            font-size: 1.5rem;
            font-weight: 900;
            margin-bottom: 20px;
        }

        & h2 {
            font-size: 1.3rem;
            font-weight: 500;
            color: var(--secondary);
            overflow-wrap: break-word;
            margin-bottom: 5px;
        }

        & .user-details-content {
            display: flex;
            gap: 20px;
            border: 1px solid var(--light-gray);
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;

            & img {
                width: 80px;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }

            & .info {
                display: flex;
                flex-direction: column;
            }
        }

        & .books {
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: 1px solid var(--light-gray);
            padding: 10px;
            border-radius: 10px;
            flex-grow: 1;
            overflow: hidden;

            & h3 {
                font-size: 1.2rem;
                font-weight: 500;
                text-align: center;
            }

            & .book-wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;
                overflow-y: auto;

                & .book {
                    line-height: 1.4;
                    background-color: var(--light-gray);
                    border-radius: 6px;
                    padding: 6px;

                    & hr {
                        border-top: 1px solid #fff;
                    }
                }
            }
        }
    }
}

/* PC */
@media (min-width: 1025px) {
    .logs-table-cont table {
        width: 100%;
    }

    .logs-table-cont th,
    .logs-table-cont td {
        font-size: 0.8rem;
    }

    .logs-table-cont th {
        padding-block: 10px;
    }

    .logs-table-cont td {
        padding-block: 20px;
    }

    .logs-table-cont th:first-of-type,
    .logs-table-cont td:last-of-type {
        width: 200px;
    }

    .utilities-header .admins,
    .utilities-header .actions {
        gap: 10px;
        padding: 25px 15px 15px 15px;
    }

    .utilities-header h1 {
        top: -20px;
        left: 30px;
        font-size: 1.5rem;
    }

    .utilities-header h2 {
        font-size: 1rem;
        padding: 12px 25px;
        border-radius: 6px;
    }

    .utilities-header h2:hover {
        cursor: pointer;
        background-color: var(--primary);
    }

    .page-bttns {
        gap: 10px;
        padding-block: 10px;
    }

    .page-bttns button {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        font-size: 1rem;
    }

    .page-bttns h1 {
        font-size: 2.3rem;
    }

    .admin-main tbody tr:hover {
        cursor: pointer;
        background-color: #eee;
    }

    .admin-form {
        padding: 20px;
    }

    .admin-form .input-group-wrapper {
        flex-wrap: wrap;
        overflow: unset;
        height: 75vh;
    }

    .admin-form .input-group {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .admin-form .input-group .roles-wrapper {
        min-width: 250px;
    }

    /* DATABASE */
    .database {
        gap: 30px;

        & .header {
            & .left {
                & h1 {
                    font-size: 2.5rem;

                    & img {
                        width: 35px;
                    }
                }

                & p {
                    font-size: 1rem;
                }
            }
        }

        & .restore-container {
            flex-direction: row;
            gap: 30px;

            & .restore {
                justify-content: space-between;
                padding: 15px;
                width: 450px;

                & .input-cont {
                    height: 160px;
                }
            }
        }

        & .collection-container {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;

            & .collection {
                width: calc(50% - 50px);
                padding: 25px 20px;

                & h1 {
                    font-size: 1.2rem;
                }
            }
        }
    }
}