.about-us {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    color: var(--dark);

    & .about-us-content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;

        & .heading {
            font-size: var(--large);
        }

        & .addr {
            font-size: var(--small);
            font-weight: 400;
        }

        & .leaflet-container {
            width: 100%;
            height: 200px;
            border: 1px solid var(--light-7);
        }

        & .contacts {
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: var(--light-8);
            padding: 20px 8px;

            & h1 {
                text-align: center;
                font-family: 'Cinzel';
            }

            & .contacts-wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;

                & .contacts2 {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    border: 2px solid var(--light-7);
                    background-color: var(--light-9);
                    border-radius: 10px;
                    padding: 10px;
                    width: 85svw;

                    & h2 {
                        font-size: var(--small);
                        margin-bottom: 10px;
                        font-weight: 500;
                    }

                    & .email {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        width: fit-content;
                        font-size: var(--small);
                        padding: 2px 8px;
                    }

                    & .links {
                        display: flex;
                        gap: 10px;

                        & i {
                            font-size: var(--x-large);
                            color: var(--dark);
                        }
                    }

                    & .mobile-number-list {
                        display: flex;
                        gap: 5px;
                        max-width: 270px;
                        padding: 2px 10px;

                        & p {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            font-size: var(--small);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .about-us .about-us-content {
        padding: 40px;

        & .heading {
            font-size: var(--x-large);
        }

        & .leaflet-container {
            height: 350px;
        }

        & .contacts {
            gap: 100px;
            padding: 50px;

            & h1 {
                font-size: var(--x-large);
            }

            & .contacts-wrapper {
                flex-direction: row;
                gap: 10px;
                align-items: flex-start;
                height: 200px;

                & .contacts2 {
                    min-height: 200px;
                    padding: 20px;

                    & .email {
                        font-size: var(--medium);
                        gap: 15px;
                    }

                    & .mobile-number-list {
                        gap: 10px;

                        & p {
                            font-size: var(--medium);
                            gap: 15px;
                        }
                    }
                }
            }
        }
    }
}