.accommodation {
    display: flex;
    flex-direction: column;
}

.accommodation .roomTypes {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 20px;
}

.accommodation .roomTypes .roomType {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.accommodation .roomTypes .roomType .part1 {
    position: relative;
}

.accommodation .roomTypes .roomType .part1 img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
}

.accommodation .roomTypes .roomType .part1 h1 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--light);
    padding: 15px;
    font-size: var(--small);
    font-weight: 400;
    width: 100%;
}

.accommodation .roomTypes .roomType .part1 .subImg-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--dark);
    padding: 5px 8px;
    font-size: var(--small);
    font-weight: 600;
}

.accommodation .roomTypes .roomType .part2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}

.accommodation .roomTypes .roomType .part2 h2 {
    font-size: var(--large);
    color: var(--dark);
    font-family: 'Cinzel';
}

.accommodation .roomTypes .roomType .part2 p {
    font-size: var(--x-small);
    color: var(--dark);
}

.accommodation .roomTypes .roomType .part2 button {
    padding: 20px;
    background-color: var(--primary);
    color: var(--light);
    font-size: var(--x-small);
    font-weight: 600;
    border: none;
    width: fit-content;
    margin-top: 20px;
    box-shadow: 3px 3px 0 1px rgba(0, 0, 0, 0.2);
}

/* SUB IMAGES */

.accommodation .sub-img {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 5px;
    background-color: #000;
    padding: 5px;
}

.accommodation .sub-img .sub-img-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accommodation .sub-img .sub-img-header h1 {
    color: var(--light);
    font-size: var(--medium);
    font-weight: 200;
}

.accommodation .sub-img .fa-xmark {
    color: var(--red);
    cursor: pointer;
    font-size: var(--medium);
}

.accommodation .sub-img img {
    object-fit: cover;
}

.accommodation .sub-img img.big {
    width: 100%;
    aspect-ratio: 16/9;
    border: 1px solid var(--gray);
}

.accommodation .sub-img button,
.accommodation .sub-img img.small {
    width: 60px;
    aspect-ratio: 1/1;
    border: none;
    background-color: var(--gray);
    color: #000;
    cursor: pointer;
    border-radius: 2px;
    font-size: var(--medium);
    border: 1px solid var(--gray);
}

.accommodation .sub-img img.small.active {
    transform: scale(0.8);
    transition: ease-in-out 0.15s;
}

.accommodation .sub-img .sub-navs {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.accommodation .sub-img .sub-navs .sub-imgs-wrapper {
    display: flex;
    gap: 3px;
    flex: 1;
    overflow-y: auto;
}

@media (min-width: 1025px) {
    .accommodation .roomTypes {
        gap: 100px;
        padding: 100px 150px;
    }

    .accommodation .roomTypes .roomType {
        flex-direction: row;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }

    .accommodation .roomTypes .roomType:nth-child(even) {
        flex-direction: row-reverse;
    }

    .accommodation .roomTypes .roomType .part1 {
        width: 60%;
    }

    .accommodation .roomTypes .roomType .part1 h1 {
        padding: 25px;
        font-size: var(--medium);
    }

    .accommodation .roomTypes .roomType .part1 .subImg-icon {
        padding: 8px 12px;
        font-size: var(--medium);
        cursor: pointer;
    }

    .accommodation .roomTypes .roomType .part2 {
        gap: 5px;
        padding: 60px 30px;
    }

    .accommodation .roomTypes .roomType .part2 p {
        font-size: var(--small);
        max-width: 250px;
        line-height: 2;
    }

    .accommodation .roomTypes .roomType:nth-child(even) .part2 p {
        text-align: right;
    }

    .accommodation .roomTypes .roomType .part2 button {
        padding: 25px;
        cursor: pointer;
    }

    .accommodation .roomTypes .roomType:nth-child(even) .part2 button {
        align-self: flex-end;
    }

    .accommodation .sub-img {
        width: 50%;
        gap: 10px;
        padding: 10px;
    }

    .accommodation .sub-img .fa-xmark {
        font-size: var(--large);
    }

    .accommodation .sub-img img.big {
        border: 2px solid var(--gray);
    }

    .accommodation .sub-img button,
    .accommodation .sub-img img.small {
        width: 80px;
        aspect-ratio: 4/3;
        border: 2px solid var(--gray);
    }

    .accommodation .sub-img .sub-navs {
        gap: 10px;
    }

    .accommodation .sub-img .sub-navs .sub-imgs-wrapper {
        gap: 5px;
    }
}