.booking {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    margin-bottom: 100px;
}

.booking .reservation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 10px var(--gray);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    align-self: center;
}

.booking .reservation-form h1 {
    font-size: var(--medium);
    color: var(--dark);
}

.booking .reservation-form hr {
    width: 100%;
    border: 1px solid var(--light-7);
    transform: scaleY(0.5);
}

.booking .reservation-form .date-picker {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.booking .reservation-form .date-picker .date-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.booking .reservation-form .date-picker .date-wrapper:last-of-type {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.booking .reservation-form .date-picker label {
    font-size: var(--small);
    color: var(--dark);
}

.booking .reservation-form .date-picker p {
    font-size: var(--medium);
    color: var(--dark);
    font-weight: 700;
}

.booking .reservation-form .date-picker input {
    width: 100%;
    padding: 10px;
    border: 3px solid var(--dark);
    border-radius: 5px;
    background-color: var(--light);
    color: var(--dark);
    font-size: var(--small);
}

.booking .reservation-form .room-picker {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.booking .reservation-form .room-picker h2 {
    font-size: var(--small);
    color: var(--dark);
    text-align: center;
}

.booking .reservation-form .room-picker .date {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    gap: 5px;
    background-color: var(--light-9);
    border: 1px solid var(--light-7);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.booking .reservation-form .room-picker .date p {
    display: flex;
    justify-content: space-evenly;
    color: var(--dark);
}

.booking .reservation-form .room-picker .room-type {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--light-9);
    border: 1px solid var(--light-7);
    border-radius: 5px;
    overflow: hidden;
}

.booking .reservation-form .room-picker .room-type img {
    max-width: 100px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.booking .reservation-form .room-picker .room-type .room-type-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
}

.booking .reservation-form .room-picker .room-type h3 {
    font-size: var(--small);
    color: var(--dark);
    font-family: 'poppins';
}

.booking .reservation-form .room-picker .room-type p {
    font-size: var(--x-small);
    font-family: 'poppins';
}

.booking .reservation-form .room-picker .room-type .fa-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    width: 50px;
}

.booking .reservation-form .room-picker .room-type h4 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    color: var(--red);
    font-size: var(--small);
    font-family: 'poppins';
}

.booking .reservation-form .room-picker .selected-room-type-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--light-9);
    border: 1px solid var(--light-7);
    border-radius: 5px;
    padding: 10px;
}

.booking .reservation-form .room-picker .selected-room-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 4px;
    gap: 5px;
}

.booking .reservation-form .room-picker .selected-room-type .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking .reservation-form .room-picker .selected-room-type .right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.booking .reservation-form .room-picker .selected-room-type .fa-user-minus,
.booking .reservation-form .room-picker .selected-room-type .left {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--dark);
    color: var(--light);
    padding: 5px;
    border-radius: 3px;
}

.booking .reservation-form .room-picker .selected-room-type .fa-user-minus,
.booking .reservation-form .room-picker .selected-room-type .left p,
.booking .reservation-form .room-picker .selected-room-type .left i {
    color: var(--light);
    font-size: var(--x-small);
}

.booking .reservation-form .room-picker .selected-room-type h3 {
    font-size: var(--small);
    color: var(--dark);
}

.booking .reservation-form .room-picker .selected-room-type p {
    font-size: var(--small);
    color: var(--dark);
}

.booking .reservation-form .room-picker .selected-room-type i {
    font-size: var(--medium);
    color: var(--dark);
}

.booking .reservation-form .room-picker .selected-room-type .fa-person-dress,
.booking .reservation-form .room-picker .selected-room-type .fa-person {
    font-size: var(--small);
    color: var(--dark);
}

.booking .reservation-form .room-picker .selected-room-type .bottom {
    display: flex;
    gap: 5px;
    align-items: center;
}

.booking .reservation-form .room-picker .selected-room-type-wrapper textarea {
    width: 100%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: 5px;
    background-color: var(--light);
    color: var(--dark);
    font-size: var(--small);
}

.booking .reservation-form .room-picker .total {
    display: flex;
    justify-content: space-between;
    padding-block: 5px;
}

.booking .reservation-form .room-picker .total p,
.booking .reservation-form .room-picker .total h3 {
    font-size: var(--small);
    color: var(--dark);
    background-color: var(--light-7);
    padding: 2px 5px;
}

.booking .reservation-form button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--dark);
    color: var(--light);
    font-size: var(--small);
    width: 100%;
}

.booking .login-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    color: var(--red);
    font-size: var(--small);
    height: 100%;
    text-align: center;
}

.booking .login-message a {
    font-weight: 700;
    text-decoration: underline;
}

.booking .success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    color: var(--green);
    font-size: var(--small);
    height: 100%;
    text-align: center;
    width: 100%;
}

.booking .success h1 {
    font-size: var(--medium);
    color: var(--primary);
}

.booking .note {
    font-size: var(--x-small);
    color: var(--dark);
    width: 90%;
    max-width: 600px;
    align-self: center;
    line-height: 1.5;
    color: var(--dark);
}

.booking .note i {
    margin-right: 5px;
}

@media (min-width: 1025px) {
    .booking {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .booking .reservation-form .room-picker .selected-room-type .fa-square-minus,
    .booking .reservation-form .room-picker .selected-room-type .fa-user-minus,
    .booking .reservation-form .room-picker .selected-room-type .left,
    .booking .reservation-form .room-picker .room-type .fa-plus,
    .booking .reservation-form .room-picker .room-type img,
    .booking .reservation-form button {
        cursor: pointer;
    }

    .booking .note {
        font-size: var(--small);
    }
}