.my-booking {
    margin-top: 160px;
}

.my-booking hr {
    transform: scaleY(0.5);
}

.my-booking .completed hr,
.my-booking .ongoing hr,
.my-booking .confirmed hr,
.my-booking .pending hr {
    border: 1px solid var(--primary);
}

.my-booking .cancelled hr {
    border: 1px solid var(--red);
}

.my-booking .book a,
.my-booking .book button {
    background-color: var(--primary);
    border: none;
    color: var(--light);
    padding: 15px 20px;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--small);
}

.my-booking .book button.red {
    background-color: var(--red);
}

.my-booking .book h3 {
    font-size: var(--medium);
    font-weight: 500;
}

.my-booking .navs-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.my-booking .navs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.my-booking .navs i {
    font-size: var(--medium);
    color: var(--gray);
}

.my-booking .navs p {
    font-size: var(--x-small);
    color: var(--dark);
}

.my-booking .navs h1 {
    position: absolute;
    right: 5px;
    top: -5px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--x-small);
    background-color: rgba(255, 0, 0, 0.8);
    color: var(--light);
    border-radius: 50%;
}

.my-booking .book-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    color: var(--dark);
}

.my-booking .book {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
}

.my-booking .completed .book,
.my-booking .ongoing .book,
.my-booking .confirmed .book,
.my-booking .pending .book {
    border: 1px solid var(--primary);
}

.my-booking .cancelled .book {
    border: 1px solid var(--red);
}

.my-booking .book .date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-booking .book .date h2,
.my-booking .book .date h1 {
    font-size: var(--small);
}

.my-booking .book .date h1 {
    font-weight: 900;
}

.my-booking .book .rooms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.2;
}

.my-booking .book .rooms .room,
.my-booking .book .rooms .added-person,
.my-booking .book .rooms .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-booking .book .rooms .room h1 {
    font-size: var(--medium);
    font-family: "Poppins";
}

.my-booking .book .reasons h2,
.my-booking .book .rooms .total h2,
.my-booking .book .rooms .added-person h2,
.my-booking .book .rooms .room h2 {
    font-size: var(--small);
    font-weight: 400;
}

.my-booking .book .cancel-reason h1,
.my-booking .book .note h1,
.my-booking .book .rooms .total h1,
.my-booking .book .rooms .added-person h1 {
    font-size: var(--small);
    font-weight: 500;
}

.my-booking .book .rooms .feedback {
    display: flex;
    flex-direction: column;
    gap: 12px;

    & h1 {
        font-size: var(--medium);
        font-weight: 500;
    }

    & .rating {
        display: flex;
        gap: 5px;

        i {
            font-size: var(--medium);
            color: var(--dark);
            cursor: pointer;
        }
    }

    & textarea {
        width: 100%;
        padding: 5px;
        border: 1px solid var(--primary);
        border-radius: 5px;
        font-size: 1rem;
    }

    & .anonymous {
        display: flex;
        align-items: center;
        gap: 10px;

        & input[type=checkbox] {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}

.my-booking .book .total-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.my-booking .book .cancel-reason,
.my-booking .book .note {
    display: flex;
    flex-direction: column;
}

.my-booking .book .cancel-reason h2 {
    font-size: var(--small);
    font-weight: 300;
    color: var(--red);
    padding: 2px 4px;
}

.my-booking .book .note h2 {
    font-size: var(--small);
    font-weight: 300;
    background-color: var(--light-8);
    padding: 2px 4px;
}

.my-booking .book a.book-now {
    color: var(--light);
    border: 1px solid var(--primary);
}

.my-booking .book .cancel-wrapper {
    display: flex;
    flex-direction: column;
}

.my-booking .book .reasons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.my-booking .book .reason {
    display: flex;
    align-items: center;
    gap: 10px;
}

.my-booking .book .reasons h1 {
    font-size: var(--small);
    font-weight: 500;
    color: var(--red);
}

.my-booking .book .reasons textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.my-booking .book .bttns {
    display: flex;
    gap: 10px;
}

@media (min-width: 1025px) {
    .my-booking {
        margin-top: 130px;
    }

    .my-booking .navs-wrapper {
        justify-content: flex-start;
        padding-inline: 20px;
        gap: 20px;
    }

    .my-booking .navs {
        cursor: pointer;
    }

    .my-booking .book-wrapper {
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .my-booking .book {
        min-width: 400px;
    }
}